a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */ }

body {
  margin: 0;
  color: #000;
  background: #000;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif; }

html, body {
  height: 100%; }

header {
  position: fixed;
  height: 90px;
  width: 100%; }

section.body {
  position: fixed;
  width: 100%;
  top: 91px;
  overflow: auto;
  height: calc(100% - 111px) !important; }

section.tabs {
  width: 100%; }

section.tabs .tab-data {
  width: calc(100% - 10px);
  padding: 0px 5px;
  min-height: 68px; }

.nav.menu {
  width: calc(100% - 201px);
  float: left;
  overflow: auto; }

.nav.brand {
  width: 200px;
  height: 75px;
  overflow: auto; }

.nav.brand h3 {
  float: right;
  overflow: none;
  margin: 0px 11px 0px 1px; }

.btn, section.tabs .tab {
  display: inline-block;
  padding: 1px 6px;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  position: relative;
  margin: 1px 1px; }

.btn {
  text-align: center; }

.bg-danger, tr.bg-danger td {
  background: linear-gradient(#ff6666, #ff3d3d, #ff6666); }

.bg-info, tr.bg-info td {
  background: linear-gradient(#ff6666, #ff3d3d, #ff6666); }

.bg-success, tr.bg-success td {
  background: linear-gradient(#93c993, #78bb78, #93c993); }

.alert {
  padding: 8px 20px;
  margin: 10px;
  border-radius: 3px;
  font-size: 15px;
  color: #fff; }

.alert-danger {
  background: linear-gradient(#ff6666, #ff3d3d, #ff6666); }

.alert-info {
  background: linear-gradient(#ff6666, #ff3d3d, #ff6666); }

.alert-success {
  background: linear-gradient(#93c993, #78bb78, #93c993); }

header, footer, section.body, body, .bg, section.report .header, section.report .footer, .window .header, .window .footer {
  color: #000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9e9e9), color-stop(100%, gainsboro)); }

section.body {
  border-top: 1px solid #b7b7b7; }

section.tabs .tab {
  border: 1px solid #aba1a1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: linear-gradient(#dbd7d7, #c3bcbc, #dbd7d7);
  z-index: 122; }

.row {
  width: 100%;
  margin: 5px 1px; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.col-3 {
  float: left;
  border: 1px solid transparent;
  width: calc(25% - 2px); }

.col-9 {
  float: left;
  border: 1px solid transparent;
  width: calc(75% - 2px); }

.col-6 {
  float: left;
  border: 1px solid transparent;
  width: calc(50% - 2px); }

.offset-3 {
  margin-left: calc(25% - 1px); }

.offset-9 {
  margin-left: calc(75% - 1px); }

.offset-6 {
  margin-left: calc(55% - 1px); }

.error {
  color: red; }

.btn.btn-icon:hover {
  border-bottom: 1px solid #b7afaf;
  background: linear-gradient(#c3bcbc, #eeecec, #cac4c4); }

.btn.btn-icon:not(:first-child) {
  border-left: 1px solid #aba1a1; }

section.tabs .tab.active {
  border-bottom: 1px solid #eceaea;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: linear-gradient(#f3f2f2, #eeecec, #eceaea); }

section.tabs .tab-data {
  border-top: 1px solid #aba1a1;
  border-bottom: 1px solid #aba1a1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9e9e9), color-stop(100%, gainsboro));
  margin-top: -2px; }

.btn-default {
  color: #000;
  background: linear-gradient(#dbd7d7, #c3bcbc, #dbd7d7);
  border-color: #b7afaf;
  box-shadow: 0px 0px 2px white; }

.btn-default:hover {
  background: linear-gradient(#e7e4e4, #dbd7d7, #e7e4e4);
  box-shadow: 0px 0px 2px white;
  border-color: #b7afaf; }

.btn-default:active {
  background: linear-gradient(#c3bcbc, #dbd7d7, #c3bcbc);
  border-color: #b7afaf; }

.btn-danger {
  color: #fff;
  background: linear-gradient(#ff6666, #ff3333, #ff6666);
  border-color: #ff1a1a;
  box-shadow: 0px 0px 2px #ffc2c2; }

.btn-danger:hover {
  background: linear-gradient(#ff8080, #ff6666, #ff8080);
  box-shadow: 0px 0px 2px #ffc2c2;
  border-color: #ff1a1a; }

.btn-danger:active {
  background: linear-gradient(#ff3333, #ff6666, #ff3333);
  border-color: #ff1a1a; }

.btn-primary {
  color: #fff;
  background: linear-gradient(#6666ff, #3333ff, #6666ff);
  border-color: #1a1aff;
  box-shadow: 0px 0px 2px #c2c2ff; }

.btn-primary:hover {
  background: linear-gradient(#8080ff, #6666ff, #8080ff);
  box-shadow: 0px 0px 2px #c2c2ff;
  border-color: #1a1aff; }

.btn-primary:active {
  background: linear-gradient(#3333ff, #6666ff, #3333ff);
  border-color: #1a1aff; }

.form .row {
  margin: 5px 0px; }

input[type=text], input[type=password] {
  border: 1px solid #c0b9b9;
  padding: 2px 5px;
  min-width: 50px;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  resize: vertical; }

input:focus {
  border: 1px solid #ada4a4;
  outline: #c0b9b9;
  box-shadow: 0 0 5px #413a3a; }

label.inline {
  display: inline-block;
  float: left; }

.window-center {
  top: 25%;
  bottom: 50%; }

.h-center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center; }

.window {
  min-width: 200px;
  border: 1px solid #eaeaea;
  background: #e1e1e1;
  margin: 0 auto;
  position: relative;
  z-index: 41;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 10000; }

.window .header, .window .footer {
  min-height: 20px;
  padding: 1px 2px; }

.window .body {
  padding: 5px;
  width: calc(100% - 10px);
  background: #fff; }

.window .close:before {
  content: 'x';
  color: #000;
  float: right;
  margin-right: 5px;
  font-weight: 300;
  font-family: Arial, sans-serif; }

.window .close:hover {
  cursor: pointer; }
